<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="parentElement" class="row text-right">
    <label>Add another input line</label>
    <button onclick="addInputLine()" name="addInputLine" class="btn btn-default" ><span class="fa fa-plus"></span></button>
</div>
<script>
    function addInputLine() {
        var node = document.createElement("input");                 // Create an <input> node
        document.getElementById("parentElement").appendChild(node);     // Append it to the parent
    }
</script>
</body>
</html>